{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
      </ul>
    </nav>
  </header>
<main>
  <header><h1>Math Blog</h1></header>
  <section>
    {% block content %}
    {% endblock %}
  </section>
</main>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<scrip src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></scrip>
</html>