{% extends 'base.html' %}

{% block content %}
<div class="search">
{% csrf_token %}
<input type="text" id="search" name="search" placeholder="Search Blog...">
<ul class="search__results mt-3" id="search-results">
</ul>
</div>
<hr>
{% for post in posts %}
<div class="post-entry">
<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
<p>{{ post.text }}</p>
</div>
{% endfor %}
<nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}">Previuos</a>
    </li>
    {% endif %}
    {% for page_num in posts.paginator.page_range %}
    {% if posts.number == page_num %}
    <li class="page-item active">
      <span class="page-link">{{ page_num }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
